<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vastu Website</title>
  <link rel="stylesheet" href="/font-awesome.min.css">
  <link rel="stylesheet" href="/semantic-ui/semantic.min.css">
  <link rel="stylesheet" href="/semantic-ui/calendar.min.css">
  <link rel="stylesheet" href="/styles.css">
  <style>

  </style>
</head>

<body id="customerData">
<% include partials/navbar %>

<main>
  <% include partials/alerts %>
  <form id="pipeline" style="display:none;">
    <input type="hidden" name="pipeline">
    <input type="hidden" name="action">
  </form>
  <div id="menuBar" class="ui fluid three item inverted menu">
    <a class="active teal item"><i class="users icon"></i>Customer Records</a>
    <a href="/customerdata/archives" class="item"><i class="folder open icon"></i>Archives</a>
    <a href="/customerdata/trash" class="item"><i class="trash outline icon"></i>Trash</a>
  </div>
  <form id="filterBar" class="ui borderless stackable menu" action="/customerdata" method="POST">
    <% include partials/filterbar %>
  </form>

  <div class="ui container">
    <table class="ui compact celled striped definition table">
      <thead class="full-width">
        <tr>
          <th class="collapsing">
            <div class="ui checkbox fitted" title="Select All">
              <input type="checkbox"> <label></label>
            </div>
          </th>
          <th colspan="4">
            <button id="cust2trash" class="ui small red labeled icon button">
              <i class="trash outline icon"></i> Move To Trash
            </button>
            <button id="cust2arch" class="ui small green labeled icon button">
              <i class="plus icon"></i> Add To Archive
            </button>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Customer Name</th>
          <th>Phone Number</th>
          <th>Email ID</th>
          <th>Date & Time</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<foundDocs.length; i++){ %>
          <tr>
            <td class="collapsing">
              <div class="ui fitted checkbox">
                <input type="checkbox"> <label></label>
              </div>
            </td>
            <td><%= foundDocs[i].name %></td>
            <td><%= foundDocs[i].phone %></td>
            <td><%= foundDocs[i].email %></td>
            <td><%= foundDocs[i]._id.getTimestamp() %></td>
          </tr>
        <% } %>
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th colspan='4'>
            <div class="centerAlign">
              <div class="ui pagination menu">
                <a class="item pageNavi start" id="pageNavi0" title="First page"><i class="angle double left icon"></i></a>
                  <% for(var i=1; i<(pgCount+1); i++){ %>
                    <a class="item" id="<%= 'pageNavi'+ i %>"><%= i %></a>
                  <% } %>
                <div class="item pageNavi end disabled">...</div>
                <a class="item pageNavi end" id="pageNaviZ" title="Last page"><i class="angle double right icon"></i></a>
              </div>
            </div>
          </th>
          <th colspan='1'>
            <p class="recNumDisplay"><%= disp %></p>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</main>

<footer>
  <hr>
  <p>sample text</p>
  <p>&copy;XYZ Company, all rights reserved</p>
  <a href="/login">LOGIN</a>
  <a href="/register">REGIStER</a>
</footer>

<script type="text/javascript" src='/jquery.min.js'></script>
<script type="text/javascript" src='/semantic-ui/semantic.min.js'></script>
<script type="text/javascript" src='/semantic-ui/calendar.min.js'></script>
<script>
  var mainGlobalObject = {
    foundDocs:       <%- JSON.stringify(foundDocs) %>,
    currentPg:       <%- JSON.stringify(currentPg) %>,
    disp:            <%- JSON.stringify(disp) %>,
    pgCount:         <%- JSON.stringify(pgCount) %>,
    filterArray:     <%- JSON.stringify(filterArray) %>,
    skipCounter:     <%- JSON.stringify(skipCounter) %>,
    recordsPerPage:  <%- JSON.stringify(recordsPerPage) %>
  };
</script>
<script type="text/javascript" src='/script.js'></script>
</body>
</html>
