<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vastu Website</title>
  <link rel="stylesheet" href="/font-awesome.min.css">
  <link rel="stylesheet" href="/semantic-ui/semantic.min.css">
  <link rel="stylesheet" href="/semantic-ui/calendar.min.css">
  <link rel="stylesheet" href="/styles.css">
  <style>

  </style>
</head>

<body id="customerData">
<% include partials/navbar %>

<main>
  <% include partials/alerts %>
  <form id="pipeline" style="display:none;">
    <input type="hidden" name="pipeline">
    <input type="hidden" name="action">
  </form>
  <div id="menuBar" class="ui fluid three item inverted menu">
    <a class="active teal item"><i class="users icon"></i>Customer Records</a>
    <a href="/customerdata/archives" class="item"><i class="folder open icon"></i>Archives</a>
    <a href="/customerdata/trash" class="item"><i class="trash outline icon"></i>Trash</a>
  </div>
  <form id="filterBar" class="ui borderless stackable menu" action="/customerdata" method="POST">
    <div class="item">
      <div class="ui input">
        <input type="text" name='nameSrch' placeholder="Search Name..">
      </div>
    </div>
    <div class="item">
      <div class="ui calendar" id="rangeStart">
        <div class="ui small input left icon">
          <i class="calendar icon"></i>
          <input type="text" name="dateStart" placeholder="Start Date">
        </div>
      </div>
    </div>
    <div class="item">
      <div class="ui calendar" id="rangeEnd">
        <div class="ui small input left icon">
          <i class="calendar icon"></i>
          <input type="text" name="dateEnd" placeholder="End Date">
        </div>
      </div>
    </div>
    <div class="right item">
      <button type="submit" class="ui orange compact button">Apply Filters</button>
    </div>
  </form>

  <div class="ui container">
    <table class="ui compact celled striped definition table">
      <thead class="full-width">
        <tr>
          <th class="collapsing">
            <div class="ui checkbox fitted">
              <input type="checkbox"> <label></label>
            </div>
          </th>
          <th colspan="4">
            <button id="cust2trash" class="ui small red labeled icon button">
              <i class="trash outline icon"></i> Move To Trash
            </button>
            <button id="cust2arch" class="ui small green labeled icon button">
              <i class="plus icon"></i> Add To Archive
            </button>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Customer Name</th>
          <th>Phone Number</th>
          <th>Email ID</th>
          <th>Date & Time</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<custRecord.length; i++){ %>
          <tr>
            <td class="collapsing">
              <div class="ui fitted checkbox">
                <input type="checkbox"> <label></label>
              </div>
            </td>
            <td><%= custRecord[i].name %></td>
            <td><%= custRecord[i].phone %></td>
            <td><%= custRecord[i].email %></td>
            <td><%= custRecord[i]._id.getTimestamp() %></td>
          </tr>
        <% } %>
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th colspan='4'>
            <div class="centerAlign">
              <div class="ui pagination menu">
                <a class="active item">1</a>
                <a class="item">2</a>
                <a class="item">3</a>
                <a class="item">4</a>
                <div class="disabled item">.....</div>
                <a class="item">10</a>
              </div>
            </div>
          </th>
          <th colspan='1'>
            <p class="recNumDisplay"><%= custRecord.length %> Record(s) found</p>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</main>

<footer>
  <hr>
  <p>sample text</p>
  <p>&copy;XYZ Company, all rights reserved</p>
  <a href="/login">LOGIN</a>
  <a href="/register">REGIStER</a>
</footer>

<script type="text/javascript" src='/jquery.min.js'></script>
<script type="text/javascript" src='/semantic-ui/semantic.min.js'></script>
<script type="text/javascript" src='/semantic-ui/calendar.min.js'></script>
<script type="text/javascript" src='/script.js'></script>
<script>
  var custRecord = <%- JSON.stringify(custRecord) %>;

  var idsQueue = new Array();
  $("#cust2trash").on("click", function(){
    idsQueue.length = 0;
    var j = 0;
    for(var i=0; i<custRecord.length; i++){
      if($($("tbody tr input[type='checkbox']")[i]).hasClass('checked')){
        idsQueue[j] = custRecord[i]._id;
        j++;
      }
    }
    if(idsQueue.length){
      $("#pipeline").attr("method", "POST");
      $("#pipeline").attr("action", "/customerdata/trash?_method=PUT");
      $("#pipeline input:nth-child(1)").val(idsQueue);
      $("#pipeline input:nth-child(2)").val("custToTrash");
      $("#pipeline").submit();
    }
  });

  //Moves selected customers to the collection "Archives"
  $("#cust2arch").on("click", function(){
    idsQueue.length = 0;
    var j = 0;
    for(var i=0; i<custRecord.length; i++){
      if($($("tbody tr input[type='checkbox']")[i]).hasClass('checked')){
        idsQueue[j] = custRecord[i]._id;
        j++;
      }
    }
    if(idsQueue.length){
      $("#pipeline").attr("method", "POST");
      $("#pipeline").attr("action", "/customerdata/archives?_method=PUT");
      $("#pipeline input:nth-child(1)").val(idsQueue);
      $("#pipeline input:nth-child(2)").val("custToArchive");
      $("#pipeline").submit();
    }
  });

  $('tbody tr input[type="checkbox"]').click(function(){
    if(this.checked){
      $(this).addClass('checked');
    } else{
      $(this).removeClass('checked');
    }
  });
</script>
</body>
</html>
